*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
README
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
env

# Installer logs
pip-log.txt
#
# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

MANIFEST

# Testing
.tox

# Vagrant
.vagrant
vagrant_ansible*
