*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
README
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
env
.venv

# Documentation
docs/_build

# Installer logs
pip-log.txt
#
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/unit/cover

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

MANIFEST

# Testing
.tox
foo_*
testfile

# Vagrant
.vagrant
vagrant_ansible*

# Chef
vagrant/chef

# Puppet
vagrant/puppet/*.sh

# Window File Explorer
desktop.ini

# Mac OS X Finder
.DS_Store

# PyCharm
.idea
